button {
  margin: 20px;
  display:inline-block;
  font-family: Arial;
  background-color: #c3d9ff;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #0568ae;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
