.dropbtn:hover {
  background-color: #0568ae;
}

.dropbtn {
  margin: 0px 20px;
  display:inline-block;
  font-family: Arial;
  background-color: #f9f9f9;
  border: 1px solid;
  padding: 14px 16px;
  border-radius: 10px;
  cursor: pointer; cursor: hand;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content{
  list-style: none;
  position: absolute;
  overflow: hidden scroll;
  padding: 0 15px;
  margin: 0 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
}

.dropdown:hover  .dropdown-content{
  display: block;
}

.dropdown-content li:hover {
  background-color: #c3d9ff;
}

.dropdown{

}
